// ========================================================
// Brand1 Variables
// ========================================================

$button-bg-color:   royalblue;
$button-text-color: white;

$table-row-color-odd: royalblue;
$table-row-color-even: white;
