// ========================================================
// Brand2 Variables
// ========================================================

$button-bg-color:   lightpink;
$button-text-color: white;

$table-row-color-odd: lightpink;
$table-row-color-even: white;
